
.navbar {
    padding: 1rem;
    display: flex;
    justify-content: right;
    align-items: center;
}

.home-navbar {
    background-color: rgba(255, 255, 255, 0.8); /* Translucent white */
    backdrop-filter: blur(0px); /* Adds a blur effect to the background */
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: right;
} /* home navbar */

.other-navbar {
    /*background-color: rgba(255, 255, 255, 0.8);*/ /* Translucent white */
    /*backdrop-filter: blur(0px);*/ /* Adds a blur effect to the background */
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: right;
    color: #fff;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
} /* other navbars */

.nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-item {
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    padding: 10px 15px;
    /*border-radius: 5px;*/
    transition: background-color 0.3s ease;
} /* other pages text in navbar */

.nav-link:hover {
    color: #FFA500;
}

/* Hover effect for links in other-navbar */
.other-navbar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    color: white;
}

.nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid #FFA500; /* Active link styling */
} /* current page text in navbar */
