/* Popup.css */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Ensure the overlay is below the popup */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-container {
    width: 90%;
    max-width: 600px;
    max-height: 80vh; /* Ensure the popup doesn't exceed the viewport height */
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto; /* Add scrollbar if content overflows */
    z-index: 1000; /* Ensure the popup is above other content */
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-header h1 {
    margin: 0;
}

.popup-close-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 18px;
    margin: 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.popup-close-button:hover {
    background-color: #d32f2f;
}

.search {
    margin: 20px 0;
}

.search input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-results {
    margin-top: 20px;
}

.search-results p {
    text-align: center;
    color: #888;
}

.searchButton{
    background-color: #FFA500;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 20px auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block; /* Ensure the button size is only as large as its content */
    text-align: center;
    margin: 10px;
}

.searchButton:hover {
    background-color: #e68a00; /* Darker orange on hover */
}

.searchButton:focus {
    outline: 2px solid #FFA500; /* Orange outline to indicate focus */
    outline-offset: 2px; /* Space between outline and button */
}

.searchContainer {
    display: flex;
    align-items: center;
    width: fit-content;
}

.searchIconBox {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.searchIcon {
    width: 100%;
    height: auto;
}