.recipes-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 40%);
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2rem;
    gap: 40px; /* Adjust gap between cards */
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 10px;
    flex: 1;
    height: 10rem;
    overflow: hidden;
    margin-bottom: 20px; /* Space between cards */
}

.recipes-intro {
    text-align: center;
}

/*.gobacklink {
    background-color: darkgreen;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.gobacklink:hover {
    background-color: gray;
}*/

.noItems {
    display: flex;
    align-items: center; /*vertical*/
    justify-content: center; /*horizontal*/
    width: 100%; /*whole div*/
    height: 100%; /*whole div*/
    text-align: center;
    grid-column: 1 / -1; /* Makes the element span across all grid columns */
}

.categoryButtons button{
    background-color: white;
    color: #FFA500;
    border: 2px solid #FFA500;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 20px auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block; /* Ensure the button size is only as large as its content */
    text-align: center;
    margin: 10px;
}

.categoryButtons button:hover {
    border: 1px solid #FFC500;
    background-color: #FFA500;
    color: white;
}